<html lang="en" class="gr__localhost">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library/common.css') }}">

    <title>도서관 신청 :: 5월, 소프트웨어에 물들다</title>
  </head>
  <body>
    <div class="container">
      <div class="paper">
        <h1>5월,<br>소프트웨어에<br>물들다</h1>
        <hr>
        <p>
          강연자, 봉사자 신청은 4월 8일 오픈 됩니다.
        </p>
      </div>
  </body>
</html>