<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/volunteer/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/volunteer/default.css') }}">

    <title>소프트웨어에 물들다</title>
</head>
<body>
<div class="preloader-wrapper">
    <div class="spinner-preloader">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="container paper">
    <div class="jumbotron shadow">
        <div class="container">
            <h1>소프트웨어에<br>물들다<br>참가신청서</h1>
        </div>
        <hr>

        <form>
            <div class="form-group">
                <label for="username">이름</label>
                <input type="text" class="form-control input" id="name" aria-describedby="emailHelp"
                       placeholder="이름을 입력해주세요.">
            </div>
            <div class="form-group">
                <label for="useremail">이메일</label>
                <input type="tel" class="form-control input" id="email" placeholder="이메일을 입력해주세요.">
            </div>
            <div class="form-group">
                <label for="userphone">휴대폰 번호</label>
                <input type="tel" class="form-control input" id="phone" placeholder="휴대폰 번호를 입력해주세요.">
            </div>
            <div class="form-group">
                <label for="userpassword">비밀번호</label>
                <input type="password" class="form-control input" id="password" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="form-group">
                <label for="userpasswordconfirm">비밀번호를 재입력</label>
                <input type="password" class="form-control input" id="check_password" placeholder="비밀번호를 재입력해주세요.">
            </div>
            <div id="check-form" class="form-group">
                <a href="privacy_policy.html" target="_blank">
                    <button type="button" class="btn btn-success">개인정보 처리방침</button>
                    <br>
                </a>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check">
                    <label class="custom-control-label" for="check">위 약관을 자세히 읽었으며, 개인정보이용에 동의합니다.</label>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">소프트웨어에 물들다에 참가하신 경험이 있나요?</label>
                <br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label id="option1" class="btn btn-light">
                        <input type="radio" name="options" autocomplete="off"> 네
                    </label>
                    <label id="option2" class="btn btn-light active">
                        <input type="radio" name="options" autocomplete="off" checked> 아니요
                    </label>
                </div>
            </div>

            <a type="button" onclick="submit()">
                <button type="button" class="btn btn-primary">완료</button>
            </a>
        </form>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/volunteer/bootstrap.min.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="{{ url_for('static', filename='js/volunteer/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/volunteer/validate.js') }}"></script>
<script src="{{ url_for('static', filename='js/volunteer/default.js') }}"></script>
<script src="{{ url_for('static', filename='js/volunteer/application.js') }}"></script>

</body>
</html>