<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/volunteer/default.css') }}">

    <title>소프트웨어에 물들다</title>
</head>
<body>

<div class="container paper">
    <div class="jumbotron shadow">
        <div class="container">
            <h1>소프트웨어에 물들다<br>강연 및 봉사 신청 현황</h1>
        </div>
        <hr>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    강연자 정보
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">강연 장소</dt>
                        <dd class="col-sm-9">성곡도서관</dd>

                        <dt class="col-sm-3">강연 시간</dt>
                        <dd class="col-sm-9">2018년 5월 26일 오후 2시 ~ 오후 4시</dd>

                        <dt class="col-sm-3">확정여부</dt>
                        <dd class="col-sm-9">
                            <p>V하지마 임마!</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    봉사자 정보
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">타임</dt>
                        <dd class="col-sm-9">알아서해 임마!</dd>

                        <dt class="col-sm-3">확정여부</dt>
                        <dd class="col-sm-9">
                            <p>V하지마 임마!</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="container">
            <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip oadfafn top">개인정보
                수정</a>
            <a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Tooltip oadfafn top">강연자/봉사자
                매칭</a>
            <a href="#" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Tooltip oadfafn top">추가정보
                입력</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>
</body>
</html>