<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/volunteer/default.css') }}">

    <title>소프트웨어에 물들다</title>
</head>
<body>

<div class="container paper">
    <div class="jumbotron shadow">
        <div class="container">
            <button type="button" class="close" aria-label="Close" onclick="closePrivacyPolicy()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1>소프트웨어에 물들다.<br>개인정보 처리방침</h1>
        </div>
        <hr>
        <div class="container">
            <dl class="row">
                <dt class="col-sm-12">1. 개인정보 처리방침이란?</dt>
                <dd class="col-sm-12">
                    <small>반갑습니다!</small>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        소프트웨어에 물들다(이하 ‘소물')는 참여자의 <b>‘동의를 기반으로 개인정보를 수집·이용 및 제공’</b>하고 있으며,
                        <b>‘이용자의 권리 (개인정보 자기결정권)를 적극적으로 보장’</b>합니다.
                        소물은 정보통신서비스제공자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있습니다.
                        “개인정보 처리방침”이란 참여자의 소중한 개인정보를 보호함으로써 참여자가 안심하고 소물에 참여할 수 있도록 소물이 준수해야 할 지침을 의미합니다.
                        본 개인정보 처리방침은 <b>소물 강연 참여 신청 시스템에 적용</b>됩니다.
                    </p>
                </dd>

                <dt class="col-sm-12">2. 개인정보 수집</dt>
                <dd class="col-sm-12">
                    <small>도서관 매칭을 위한 필요 최소한의 개인정보를 수집하고 있습니다.</small>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        소물 참여자의 도서관 매칭 등 소물 진행을 위해 필요한 최소한의 개인 정보를 수집하고 있습니다.
                    </p>
                </dd>

                <dd class="col-sm-12">
                    <b>[강연 매칭]</b>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        이름, 이메일, 연락처, 약력, 자기소개
                    </p>
                </dd>

                <dd class="col-sm-12">
                    <b>[운영진 공지]</b>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        이름, 이메일, 연락처
                    </p>
                </dd>
                <dd class="col-sm-12">
                    <b>개인정보를 수집하는 방법은 다음과 같습니다.</b>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 다음과 같은 방법을 통해 개인정보를 수집합니다.
                    </p>
                </dd>
                <dd class="col-sm-12">
                    <ul>
                        <li>
                            <small class="text-muted">강연 참여 신청 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우</small>
                        </li>
                        <li>
                            <small class="text-muted">운영진과의 전화, 이메일, 팩스 등의 연락을 통한 경우</small>
                        </li>
                    </ul>
                </dd>

                <dt class="col-sm-12">3. 개인정보 이용</dt>
                <dd class="col-sm-12">
                    <p><b>참여자 관리, 강연 매칭, 운영 공지, 비상 연락망 구축 등을 위해 이용합니다.</b></p>
                </dd>

                <dt class="col-sm-12">4. 개인정보 제공
                </dt>
                <dd class="col-sm-12">
                    <p><b>소물은 참여자의 별도 동의가 있는 경우나 법령에 규정된 경우를 제외하고는 참여자의 개인정보를 제3자에게 제공하지 않습니다.</b></p>
                </dd>

                <dt class="col-sm-12">5. 개인정보 파기</dt>
                <dd class="col-sm-12">
                    <small>개인정보는 수집 및 이용목적이 달성되면 지체없이 파기하며, 절차 및 방법은 다음과 같습니다.</small>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        전자적 파일 형태인 경우 복구 및 재생되지 않도록 안전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.

                        또한, 소물은 더이상 소물이 진행되지 않을 경우 참여자와 도서관 관계자들의 개인정보를 지체 없이 파기합니다.
                    </p>
                </dd>

                <dt class="col-sm-12">6. 기타사항</dt>
                <dd class="col-sm-12">
                    <small>소물은 여러분의 권리를 보호합니다.</small>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        언제든 자신의 개인정보를 조회하거나 수정할 수 있으며 수집・이용에 대한 동의 철회 또는 가입 해지를 요청할 수도 있습니다. 보다 구체적으로는 운영진에게 전화 또는 이메일로
                        연락하시면 지체 없이 조치하겠습니다.
                    </p>
                </dd>

                <dd class="col-sm-12">
                    <small>개인정보보호와 관련해서 궁금하신 사항은?
                    </small>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        소물에 참여하면서 발생하는 모든 개인정보보호 관련 문의, 불만, 조언이나 기타 사항은 개인정보 보호책임자에게 연락해 주시기 바랍니다. 소물은 여러분의 목소리에 귀 기울이고
                        신속하고 충분한 답변을 드릴 수 있도록 최선을 다하겠습니다.
                    </p>
                </dd>

                <dd class="col-sm-12">
                    <small>개인정보보호 책임자</small>
                </dd>
                <dd class="col-sm-12">
                    <ul>
                        <li>
                            <small class="text-muted">책임자 : 신수철</small>
                        </li>
                        <li>
                            <small class="text-muted">이메일 : somul.may@gmail.com</small>
                        </li>
                    </ul>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        또한 개인정보가 침해되어 이에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하셔서 도움을 받으실 수 있습니다.
                    </p>
                </dd>

                <dd class="col-sm-12">
                    <small>개인정보침해 신고센터</small>
                </dd>
                <dd class="col-sm-12">
                    <ul>
                        <li>
                            <small class="text-muted">(국번없이) 118</small>
                        </li>
                        <li>
                            <a href="http://privacy.kisa.or.kr">
                                <small class="text-muted">http://privacy.kisa.or.kr</small>
                            </a>
                        </li>
                    </ul>
                </dd>
                <dd class="col-sm-12">
                    <small>대검찰청 사이버 범죄 수사단</small>
                </dd>
                <dd class="col-sm-12">
                    <ul>
                        <li>
                            <small class="text-muted">02-3480-3571</small>
                        </li>
                        <li>
                            <small class="text-muted">cybercid@spo.go.kr</small>
                        </li>
                    </ul>
                </dd>
                <dd class="col-sm-12">
                    <small>경찰청 사이버테러대응센터</small>
                </dd>
                <dd class="col-sm-12">
                    <ul>
                        <li>
                            <small class="text-muted">(국번없이)182</small>
                        </li>
                        <li>
                            <a href="http://cyberbureau.police.go.kr">
                                <small class="text-muted">http://cyberbureau.police.go.kr</small>
                            </a>
                        </li>
                    </ul>
                </dd>
                <dd class="col-sm-12">
                    <small>개인정보보호와 관련해서 궁금하신 사항은?</small>
                </dd>
                <dd class="col-sm-12">
                    <p class="text-muted">
                        법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보 처리방침을 수정할 수 있습니다. 개인정보 처리방침이 변경되는 경우 소물은 변경 사항을 게시하며, 변경된
                        개인정보 처리방침은 게시한 날로부터 7일 후부터 효력이 발생합니다.<br><br>
                        다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 미리 알려드리겠습니다.
                    </p>
                </dd>
                <dd class="col-sm-12">
                    <ul>
                        <li>
                            <small class="text-muted">공고일자 : 2019년 04월 03일</small>
                        </li>
                        <li>
                            <small class="text-muted">시행일자 : 2019년 04월 09일</small>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="button" class="btn btn-primary" onclick="closePrivacyPolicy()">닫기</button>
        </div>
    </div>
</div>

<!-- Optional JavaScript -—>
<!—- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="{{ url_for('static', filename='js/volunteer/privacy_policy.js') }}"></script>

</body>
</html>