<html lang="en" class="gr__localhost">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library/common.css') }}">

    <title>도서관 신청 :: 5월, 소프트웨어에 물들다</title>
  </head>
  <body>
    <div class="container">
      <div class="paper">
        <h1>도서관 신청이 마감되었습니다.</h1>
        <hr>
        <p>
          전국 각지에 있는 도서관 담당자 분들의 많은 성원으로 <b>총 {{ length }} 군데의 도서관에서 참가신청을 해주셨습니다.</b> <br>이후의 진행 상황은 somul.kr에서 확인하실 수 있으며, 문의 사항은 somul.may@gmail.com으로 보내주시면 담당자가 확인 후 답변드리겠습니다.<br>
          보내주신 성원에 감사드립니다!
        </p>
      </div>
  </body>
</html>