<html lang="en" class="gr__localhost">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library/common.css') }}">

    <title>도서관 신청 :: 5월, 소프트웨어에 물들다</title>
  </head>
  <body>
    <div id="loader">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="container">
      <div class="paper">
        <h1>도서관 참여 신청서</h1>
        <h4 class="comment">5월, 소프트웨어에 물들다 : 2018</h4>

        <hr>

        <h3>안내</h3>
        <p>
          지금 작성하실 문서는 2018년 5월 26일 (토요일) 오후, "5월, 소프트웨어에 물들다" 행사에 참여를 신청하는 도서관이 작성하는 입력 양식입니다. 양식을 작성하시고 맨 아래
          [제출] 버튼을 누르시면 "5월, 소프트웨어에 물들다" 행사에 이 도서관이 강연장을 무상으로 제공하는 조건으로 참여하심을 의미합니다. <br><br>
          
          도서관의 신청에도 불구하고, 해당 도서관에서 강연을 자원하는 강연자/진행자가 없을 경우에는 그 도서관에서의 행사가 진행되지 못할 수도 있습니다. 이 경우 행사 10일 전까지는 주최 측에서 통보해드립니다.
          행사 안내는 http://SoMul.kr 에서 보실 수 있으며, 도서관 및 강연 수강자, 강연 및 진행 봉사자들을 위한 FAQ는 http://SoMul.kr/faq.html에서 보실 수 있습니다. <br><br>

          참여 신청을 원하시면 다음 항목들에 답을 하시고 제출하시면 접수되어, 그 도서관에서 강연, 진행을 하실 자원봉사자를 매칭하는 과정을 거쳐 강연이 확정됩니다. 그 상황은 홈페이지에
          실시간으로 공개될 예정이며, 매칭이 완료되면 도서관 담당자에게 그 결과도 통보해드릴 예정입니다. 또 이 행사의 모든 내용은 페이스북 그룹
          https://www.facebook.com/groups/may.somul/ 에 공개됩니다. 이 그룹에 가입을 하시면 행사를 주관하는 자원봉사자, 강연자, 진행자, 그리고 다른
          도서관들과도 소통하실 수 있습니다. <br><br>

          신청을 위해서는 다음 질문에 모두 답을 해주시면 됩니다. 응답에 걸리는 시간은 10분 이내 입니다.<br>
          <span class="required">* 표시 질문은 필수 항목입니다.</span>
        </p>
        
        <hr>
        <h3>질문</h3>

        <div class="question">
            <h4>도서관 이름 <span class="required">*</span></h4>
            <span class="comment">도서관의 정확한 이름을 입력해주세요.</span>
            <input type="text" class="form-control" id="name" placeholder="OOOOOO 도서관">    
        </div>

        <div class="question">
            <h4>도서관 소재지 <span class="required">*</span></h4>
            <span class="comment">아래 버튼을 눌러 주소를 검색해주세요.</span>
            <button type="button" class="btn btn-primary btn-inside" id="searchPostcode">주소 검색</button>
            <input type="text" class="form-control" id="roadAddress" placeholder="도로명 주소" disabled>
            <input type="text" class="form-control" id="numberAddress" placeholder="지번 주소" disabled>
            <input type="text" class="form-control" id="detailAddress" placeholder="상세 주소를 입력해주세요.">
        </div>

        <div class="question">
            <h4>담당자 이름 <span class="required">*</span></h4>
            <span class="comment">도서관 관계자만 신청 가능합니다.</span>
            <input type="text" class="form-control" id="managerName" placeholder="홍길동">    
        </div>

        <div class="question">
            <h4>담당자 E-mail <span class="required">*</span></h4>
            <span class="comment">중요 공지가 E-mail로 전달될 예정입니다.</span>
            <input type="email" class="form-control" id="managerEmail" placeholder="manager@library.go.kr">    
        </div>

        <div class="question">
            <h4>담당자 전화번호 <span class="required">*</span></h4>
            <span class="comment">당일 연락을 위해서 휴대폰 번호를 권장합니다. '-' 없이 숫자로만 입력해주세요.</span>
            <input type="number" class="form-control" id="managerPhone" placeholder="01012345678">    
        </div>

        <div class="question">
            <h4>강의실 수용 가능 인원 <span class="required">*</span></h4>
            <span class="comment">예상되는 청중 규모와 함께 생각하셔서 적어주십시오.</span>
            <input type="text" class="form-control" id="capacity" placeholder="40명">    
        </div>

        <div class="question">
            <h4>강의 관련 시설 구비 현황 <span class="required">*</span></h4>
            <span class="comment">제공이 가능한 것을 모두 체크해주십시오.</span>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="facilityBeamOrScreen">
              <label class="form-check-label" for="facilityBeamOrScreen">
                빔프로젝터 / 스크린
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="facilitySound">
              <label class="form-check-label" for="facilitySound">
                음향 시설
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="facilityRecord">
              <label class="form-check-label" for="facilityRecord">
                동영상 녹화 시설
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="facilityPlacard">
              <label class="form-check-label" for="facilityPlacard">
                행사 안내 플랜 카드
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="facilitySelfPromo">
              <label class="form-check-label" for="facilitySelfPromo">
                자체 홍보
              </label>
            </div>
        </div>

        <div class="question">
            <h4>기타 강의 관련 시설들</h4>
            <span class="comment">위의 요소들 이외에 준비해주실 수 있는 것들이 있으신가요?</span>
            <textarea type="text" class="form-control" id="facilityOther" rows="5" placeholder="기타 준비할 수 있으신 강의 관련 시설이 있으시면 여기 적어주세요."></textarea>
        </div>

        <div class="question">
            <h4>기타 강연자 / 진행자 요구 사항</h4>
            <span class="comment">강연자 / 진행자가 준비해야 할 특별한 요구 사항이 있으신가요?</span>
            <textarea type="text" class="form-control" id="requirements" rows="5" placeholder="기타 강연자/진행자가 준비해야 할 특별한 요구 사항이 있으시면 여기 적어주세요.
            "></textarea>
        </div>

        <div class="question">
            <h4>
              위에 입력하신 담당자 개인 정보는 이 행사 기간동안 연락을 위해 사용되고 폐기될 예정입니다. <br>
              이 행사를 위해 위 개인 정보를 행사 주최 측이 이용하는 것에 동의하십니까?
              <span class="required">*</span>
            </h4>
            <span class="comment">필수적으로 동의하셔야 합니다.</span>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="infoHoldValid">
              <label class="form-check-label" for="infoHoldValid">
                예, 동의합니다.
              </label>
            </div> 
        </div>

        <div class="question">
            <h4>
              도서관의 신청과 행사 주최 측의 노력에도 불구하고, 해당 도서관에서 강연을 자원하는 강연자 / 진행자가 없을 경우에는 그 도서관에서의 행사가 진행되지 못할 수도 있다는 것에 동의하십니까?
              <span class="required">*</span>
            </h4>
            <span class="comment">필수적으로 동의하셔야 합니다.</span>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="insufficientValid">
              <label class="form-check-label" for="insufficientValid">
                예, 동의합니다.
              </label>
            </div> 
        </div>

        <hr>

        <p>
            수고하셨습니다.<br><br>
            이 신청이 접수되면 강연 봉사자, 진행 봉사자들이 자신이 가고 싶은 도서관을 선정하게 되며, 
            주최 측에서도 모든 도서관에서 강연이 성공적으로 이루어질 수 있도록 최선의 노력을 다할 예정입니다. 
            그 결과는 "5월, 소프트웨어에 물들다" 홈페이지 http://SoMul.kr 를 통해 알 수 있으며, 
            강연이 확정되면, 또는 강연이 최종적으로 진행되지 못하게 되면 위 담당자에게 별도로 연락을 드릴 예정입니다.<br><br>
            모든 질문에 정확히 대답해주셨는지 확인해주시고, 아래 버튼을 눌러 제출해주십시오.
        </p>

        <button type="button" class="btn btn-lg btn-block btn-primary" id="submit">모든 질문에 대답하였고, 제출하겠습니다.</button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>